body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}


.max-width-100{
    max-width: 100px;
}

.max-width-80{
    max-width: 80px;
}

.max-width-60{
    max-width: 60px;
}

.max-width-40{
    max-width: 40px;
}
.CSSTableGenerator .form-control {
    height: 24px;
}

.CSSTableGenerator .col-sm-10 {
    width: auto;
}

#campaigns_update_button {
    margin: 0 0 10px 25px;
}

.campaign-slider {
    max-width: 280px;
    margin: -18px 0 0 180px;
}

div.growlUI {background: url(images/check48.png) no-repeat 10px 10px }
div.growlUI h1, div.growlUI h2 {
    color: white; padding: 5px 5px 5px 75px; text-align: left
}

.h {
    display: none;
}


[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    margin-top: 1px;
}

/* White icons with optional class, or on hover/active states of certain elements */
.icon-white,
.nav-tabs > .active > a > [class^="icon-"],
.nav-tabs > .active > a > [class*=" icon-"],
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"] {
    background-image: url("../img/glyphicons-halflings-white.png");
}
.icon-glass {
    background-position: 0      0;
}
.icon-music {
    background-position: -24px 0;
}
.icon-search {
    background-position: -48px 0;
}
.icon-envelope {
    background-position: -72px 0;
}
.icon-heart {
    background-position: -96px 0;
}
.icon-star {
    background-position: -120px 0;
}
.icon-star-empty {
    background-position: -144px 0;
}
.icon-user {
    background-position: -168px 0;
}
.icon-film {
    background-position: -192px 0;
}
.icon-th-large {
    background-position: -216px 0;
}
.icon-th {
    background-position: -240px 0;
}
.icon-th-list {
    background-position: -264px 0;
}
.icon-ok {
    background-position: -288px 0;
}
.icon-remove {
    background-position: -312px 0;
}
.icon-zoom-in {
    background-position: -336px 0;
}
.icon-zoom-out {
    background-position: -360px 0;
}
.icon-off {
    background-position: -384px 0;
}
.icon-signal {
    background-position: -408px 0;
}
.icon-cog {
    background-position: -432px 0;
}
.icon-trash {
    background-position: -456px 0;
}
.icon-home {
    background-position: 0 -24px;
}
.icon-file {
    background-position: -24px -24px;
}
.icon-time {
    background-position: -48px -24px;
}
.icon-road {
    background-position: -72px -24px;
}
.icon-download-alt {
    background-position: -96px -24px;
}
.icon-download {
    background-position: -120px -24px;
}
.icon-upload {
    background-position: -144px -24px;
}
.icon-inbox {
    background-position: -168px -24px;
}
.icon-play-circle {
    background-position: -192px -24px;
}
.icon-repeat {
    background-position: -216px -24px;
}
.icon-refresh {
    background-position: -240px -24px;
}
.icon-list-alt {
    background-position: -264px -24px;
}
.icon-lock {
    background-position: -287px -24px;
}
.icon-flag {
    background-position: -312px -24px;
}
.icon-headphones {
    background-position: -336px -24px;
}
.icon-volume-off {
    background-position: -360px -24px;
}
.icon-volume-down {
    background-position: -384px -24px;
}
.icon-volume-up {
    background-position: -408px -24px;
}
.icon-qrcode {
    background-position: -432px -24px;
}
.icon-barcode {
    background-position: -456px -24px;
}
.icon-tag {
    background-position: 0 -48px;
}
.icon-tags {
    background-position: -25px -48px;
}
.icon-book {
    background-position: -48px -48px;
}
.icon-bookmark {
    background-position: -72px -48px;
}
.icon-print {
    background-position: -96px -48px;
}
.icon-camera {
    background-position: -120px -48px;
}
.icon-font {
    background-position: -144px -48px;
}
.icon-bold {
    background-position: -167px -48px;
}
.icon-italic {
    background-position: -192px -48px;
}
.icon-text-height {
    background-position: -216px -48px;
}
.icon-text-width {
    background-position: -240px -48px;
}
.icon-align-left {
    background-position: -264px -48px;
}
.icon-align-center {
    background-position: -288px -48px;
}
.icon-align-right {
    background-position: -312px -48px;
}
.icon-align-justify {
    background-position: -336px -48px;
}
.icon-list {
    background-position: -360px -48px;
}
.icon-indent-left {
    background-position: -384px -48px;
}
.icon-indent-right {
    background-position: -408px -48px;
}
.icon-facetime-video {
    background-position: -432px -48px;
}
.icon-picture {
    background-position: -456px -48px;
}
.icon-pencil {
    background-position: 0 -72px;
}
.icon-map-marker {
    background-position: -24px -72px;
}
.icon-adjust {
    background-position: -48px -72px;
}
.icon-tint {
    background-position: -72px -72px;
}
.icon-edit {
    background-position: -96px -72px;
}
.icon-share {
    background-position: -120px -72px;
}
.icon-check {
    background-position: -144px -72px;
}
.icon-move {
    background-position: -168px -72px;
}
.icon-step-backward {
    background-position: -192px -72px;
}
.icon-fast-backward {
    background-position: -216px -72px;
}
.icon-backward {
    background-position: -240px -72px;
}
.icon-play {
    background-position: -264px -72px;
}
.icon-pause {
    background-position: -288px -73px;
}
.icon-stop {
    background-position: -312px -72px;
}
.icon-forward {
    background-position: -336px -72px;
}
.icon-fast-forward {
    background-position: -360px -72px;
}
.icon-step-forward {
    background-position: -384px -72px;
}
.icon-eject {
    background-position: -408px -72px;
}
.icon-chevron-left {
    background-position: -432px -72px;
}
.icon-chevron-right {
    background-position: -456px -72px;
}
.icon-plus-sign {
    background-position: 0 -96px;
}
.icon-minus-sign {
    background-position: -24px -96px;
}
.icon-remove-sign {
    background-position: -48px -96px;
}
.icon-ok-sign {
    background-position: -72px -96px;
}
.icon-question-sign {
    background-position: -96px -96px;
}
.icon-info-sign {
    background-position: -120px -96px;
}
.icon-screenshot {
    background-position: -144px -96px;
}
.icon-remove-circle {
    background-position: -168px -96px;
}
.icon-ok-circle {
    background-position: -192px -96px;
}
.icon-ban-circle {
    background-position: -216px -96px;
}
.icon-arrow-left {
    background-position: -240px -96px;
}
.icon-arrow-right {
    background-position: -264px -96px;
}
.icon-arrow-up {
    background-position: -289px -96px;
}
.icon-arrow-down {
    background-position: -312px -96px;
}
.icon-share-alt {
    background-position: -336px -96px;
}
.icon-resize-full {
    background-position: -360px -96px;
}
.icon-resize-small {
    background-position: -384px -96px;
}
.icon-plus {
    background-position: -408px -96px;
}
.icon-minus {
    background-position: -433px -96px;
}
.icon-asterisk {
    background-position: -456px -96px;
}
.icon-exclamation-sign {
    background-position: 0 -120px;
}
.icon-gift {
    background-position: -24px -120px;
}
.icon-leaf {
    background-position: -48px -120px;
}
.icon-fire {
    background-position: -72px -120px;
}
.icon-eye-open {
    background-position: -96px -120px;
}
.icon-eye-close {
    background-position: -120px -120px;
}
.icon-warning-sign {
    background-position: -144px -120px;
}
.icon-plane {
    background-position: -168px -120px;
}
.icon-calendar {
    background-position: -192px -120px;
}
.icon-random {
    background-position: -216px -120px;
    width: 16px;
}
.icon-comment {
    background-position: -240px -120px;
}
.icon-magnet {
    background-position: -264px -120px;
}
.icon-chevron-up {
    background-position: -288px -120px;
}
.icon-chevron-down {
    background-position: -313px -119px;
}
.icon-retweet {
    background-position: -336px -120px;
}
.icon-shopping-cart {
    background-position: -360px -120px;
}
.icon-folder-close {
    background-position: -384px -120px;
}
.icon-folder-open {
    background-position: -408px -120px;
    width: 16px;
}
.icon-resize-vertical {
    background-position: -432px -119px;
}
.icon-resize-horizontal {
    background-position: -456px -118px;
}
.icon-hdd {
    background-position: 0 -144px;
}
.icon-bullhorn {
    background-position: -24px -144px;
}
.icon-bell {
    background-position: -48px -144px;
}
.icon-certificate {
    background-position: -72px -144px;
}
.icon-thumbs-up {
    background-position: -96px -144px;
}
.icon-thumbs-down {
    background-position: -120px -144px;
}
.icon-hand-right {
    background-position: -144px -144px;
}
.icon-hand-left {
    background-position: -168px -144px;
}
.icon-hand-up {
    background-position: -192px -144px;
}
.icon-hand-down {
    background-position: -216px -144px;
}
.icon-circle-arrow-right {
    background-position: -240px -144px;
}
.icon-circle-arrow-left {
    background-position: -264px -144px;
}
.icon-circle-arrow-up {
    background-position: -288px -144px;
}
.icon-circle-arrow-down {
    background-position: -312px -144px;
}
.icon-globe {
    background-position: -336px -144px;
}
.icon-wrench {
    background-position: -360px -144px;
}
.icon-tasks {
    background-position: -384px -144px;
}
.icon-filter {
    background-position: -408px -144px;
}
.icon-briefcase {
    background-position: -432px -144px;
}
.icon-fullscreen {
    background-position: -456px -144px;
}

tr.banned {
    background-color: #FAE7E7 !important;
}
table.dataTable.display tbody tr>.sorting_1, table.dataTable.order-column.hover tbody tr>.sorting_1 {
    background-color: inherit !important;
}

tr.archived {background-color: #E4E4E4 !important}

.ui-widget {
    font-size: 0.8em;
    max-width: 400px;
}

.ui-tooltip-content {
    height: inherit;
}

table.dataTable tbody tr {
    height: 30px;
}

.ui-widget a {
    text-decoration: none;
}
.ui-widget .bidder_ad_box {
    background: #FFFFFF;
    border: 1px solid #DCE3E9;
    padding: 0 0 11px 0;
    margin: 0;
    width: 118px;
    overflow: hidden;
    text-align: center;
    display: block !important;
}
.ui-widget .bidder_ad_title {
    font-weight: bold;
    font-size: 11px;
    margin: 6px 3px 0 3px;
    color: #36638E;
    text-align: center;
    display: block !important;

}
.ui-widget .bidder_ad_domain {
    margin-top: 3px;
    font-size: 10px;
    color: #909090;
}
.ui-widget .bidder_ad_box img {
    margin-top: 9px
}
.ui-widget .bidder_ad_desc {
    margin: 10px 2px 0 2px;
    color: #000000;
}
.ui-widget a.bidder_ad_box:hover {
    text-decoration: none;
}

#filter {
    font-size: 12px;
}

.ad-picture-container {
    float: left;
}
.ad-targeting-container {
    float: right;
    margin-left: 10px;
    background-color: #f0f0f0;
    padding: 8px 15px;
}

.ad-targeting-container ul {
    padding-left: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.ad-targeting-container b {
    font-size: 12px;
}
.ad-targeting-container b big{
    margin: 0 2px;
}

.ad-targeting-container b delimetr{
    margin: 0 0 0 4px;
}

.container div#filter {
    background-color:  rgb(236, 234, 234);
    float: left;
    padding: 20px;
    width: 15%;
    min-width: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
    height: auto;
    position: absolute;
    left: 0;
    top: 110px;
    bottom: 0;
}

.container div#main-table {
    float: right;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
    height: auto;
    top: 155px;
    position: absolute;
    left: 303px;
    bottom: 0;
    width: 84%;
}

#dataTable_filter {
    display: none !important;
}

.campaigns-list {
    display: none;
}

span.client-title {
    color: #169;
    cursor: pointer;
}

.campaigns-list-container {
    padding: 3px 0 3px 0;
}

span.campaign-name, span.status-name{
    vertical-align: text-bottom;
}

.ad-preview {
    color: #169;
    cursor: pointer;
}

.client-minus-plus {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin: 0 3px 0 0;
    cursor: pointer;
    opacity: 0.65;
}

.client-minus-plus.plus {
    width: 14px;
    height: 15px;
    background-position: -1px -1px;
}

.client-minus-plus.minus {
    width: 16px;
    height: 16px;
    background-position: -17px -1px;
    margin: 0 2px 0 -1px;
    opacity: 0.9;
}

#status_filter, #cabinets_filter {
    width:300px;
}

#status_filter label, #cabinets_filter .campaigns-list label {
    margin:0 0 0 12px;
    font-weight: normal;
}

#status_filter .status-name {
    margin-left: 3px;
}

#filter>div {
    margin: 10px 0 0 0;
}

#date_filter {
    margin: -10px 0 0 0 !important;
}

#table-ads-controls {
    background-color: rgba(236, 234, 234, 0.45);
    padding: 10px;
    width: 84%;
    margin-left: 290px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#table-ads-reset {
    display: none;
}

#table-ads-controls button {
    padding: 2px 4px;
    line-height: normal;
    margin-right: 5px;
}

#main-ads-checkbox {
    margin-right: 15px;
    vertical-align: sub;
    width: 20px;
    height: 15px;
}

#button-ad-refresh {
    margin-left: 10px;
}

#button-ad-refresh span, #button-ad-settings span {
    font-size: 12px;
    vertical-align: 5%;
}

.change-ads-settings-content {
    padding: 0 15px;
}

.change-ads-settings-content #adscounter-container {
    padding: 10px;
}

.change-ads-settings-content #adscounter {
    color: green;
}

.change-ads-settings-content label {
    font-size: 11px;
}

.change-ads-settings-content .radio label {
    font-size: 10px;
}

#change-ads-settings {
    display: none;
}

.change-ads-settings-content #error-message {
    text-align: center;
}