#uploader-form .form-control {
    width: 350px;
}

#uploader-form .table-value, #uploader-form .table-label{
    padding: 10px 0 10px 0;
    vertical-align: top;
}

#uploader-form .table-label{
    width: 30%;
    text-align: right;
    padding-right: 10px;
    color: #666666;
}

#uploader-form #user-age-from {
    float: left;
    max-width: 20%;
    margin-right: 15px;
}

#uploader-form #user-age-to {
    max-width: 20%;
}