
#page-main-container {
    width: 100%;
}

div.FixedHeader_Cloned th,
div.FixedHeader_Cloned td {
    background-color: white !important;
}

#filter {
    float:left;
    padding:20px;
    width:299px;
}

#status_filter {
    display: inline;
}

#reportrange {
    margin-bottom: 10px;
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    float: left;
}